.footer{
    background: #333;
    color:#fff;
    padding: 36px 0;
    z-index: 100;
    position: relative;
}
.footerBox{
    width:1000px;
    margin: 0 auto;
}
.footer1{
    font-size:14px;
    line-height:14px;
    padding:10px;
    color: #6b6a6a;
}
.footerimg{
    width:90px;
    height: 40px;
}
.footerbox_a{
    color: #6b6a6a;
}
.float11{
   clear: both;
}
.border_b{
    border-bottom: 1px  solid #6b6a6a;
}
.footer1 a:hover{
    text-decoration: none;
    color:#6b6a6a;
}